<div id="utama" class="col-md-4" style="max-height:300px;overflow-y:scroll;">
  <div class="row" *ngFor ="let datacarrier of dataLoader">
    <div class="image col-md-2">
      <img src= {{datacarrier.image}} alt="..." class="img-responsive">
    </div>
    <div class="col-md-8">
     {{datacarrier.name}}  <small style="font-size:12px;color: gray;">{{datacarrier.screen_name}} {{datacarrier.timestamp}}.</small>
      <p>
      <span>{{datacarrier.tweet_text}}</span>
      </p>
        <!--<md-list-item></md-list-item>-->
    </div>
          <hr style="color:gray;">
           <md-divider></md-divider>
    </div>
</div>

<div id="utama" class="col-md-4" style="max-height:300px;overflow-y:scroll;">
  <div class="row" *ngFor ="let datacarrier1 of dataLoader1">
    <div class="image col-md-2">
      <img src= {{datacarrier1.image}} alt="..." class="img-responsive">
    </div>
    <div class="col-md-8">
     {{datacarrier1.name}}  <small style="font-size:12px;color: gray;">{{datacarrier1.screen_name}} {{datacarrier1.timestamp}}.</small>
      <p>
      <span>{{datacarrier1.tweet_text}}</span>
      </p>
        <!--<md-list-item></md-list-item>-->
    </div>
          <hr style="color:gray;">
           <md-divider></md-divider>
    </div>
</div>

<div id="utama" class="col-md-4" style="max-height:300px;overflow-y:scroll;">
  <div class="row" *ngFor ="let datacarrier2 of dataLoader2">
    <div class="image col-md-2">
      <img src= {{datacarrier2.image}} alt="..." class="img-responsive">
    </div>
    <div class="col-md-8">
     {{datacarrier2.name}}  <small style="font-size:12px;color: gray;">{{datacarrier2.screen_name}} {{datacarrier2.timestamp}}.</small>
      <p>
      <span>{{datacarrier2.tweet_text}}</span>
      </p>
        <!--<md-list-item></md-list-item>-->
    </div>
          <hr style="color:gray;">
           <md-divider></md-divider>
    </div>
</div>
